@media (min-width: 576px) {

    .ktf-display-1{

        font-size: 6em;
    
    }
    
    .ktf-display-2{
    
        font-size: 5em;
    
    }

    .ktf-display-3{

        font-size: 4em;
    
    }
    
    .ktf-display-4{
    
        font-size: 3em;
    
    }

    .ktf-display-5{
    
        font-size: 2.25em;
    
    }
    
    .text-1{
    
        font-size: 1.75em;
    
    }
    
    .text-2{
    
        font-size: 1em;
    
    }   
    
    .card-1{

        width: 10em;
        height: 10em;
    
    }

}