.bg-ktfYellow{

    background-color: @kunthof-yellow;

}

.bg-ktfRed{

    background-color: @kunthof-red;

}

.bg-ktfRedDark{

    background-color: @kunthof-red-dark;

}

.bg-ktfBlue{

    background-color: @kunthof-blue;

}

.bg-ktfBlueDark{

    background-color: @kunthof-blue-dark;

}

.bg-ktfBlack{

    background-color: @kunthof-black;

}

.vh-100{

    height: 100vh;

}

.navbar-light .navbar-toggler{
    border-color: transparent;
}

.bg-blendMultiply{

    background-blend-mode: multiply;

}

.gotBgi{

    background-size: cover;
    background-repeat: no-repeat;

}

.display-text{

    font-family: 'Staatliches', cursive;

}

.lead-text{

    font-family: 'Baloo Thambi 2', cursive;

}

.display-5{

    font-size: 3em;

}

.display-6{

    font-size: 3em;

}

.text-1{

    font-size: 1em;

}

.text-2{

    font-size: 1.2em;

}