.bg-ktfYellow{

    background-color: @kunthof-yellow;

}

.bg-ktfRed{

    background-color: @kunthof-red;

}

.bg-ktfRedDark{

    background-color: @kunthof-red-dark;

}

.bg-ktfBlue{

    background-color: @kunthof-blue;

}

.bg-ktfBlueDark{

    background-color: @kunthof-blue-dark;

}

.bg-ktfBlack{

    background-color: @kunthof-black;

}

.vh-100{

    height: 100vh;

}

.navbar-light .navbar-toggler{
    border-color: transparent;
}

.bg-blendMultiply{

    background-blend-mode: multiply;

}

.bg-filterBlurDark{

    backdrop-filter: blur(0.3em);
    background-color: rgba(0, 0, 0, 0.2); ;

}

.bg-props{

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.display-text{

    font-family: 'Staatliches', cursive;

}

.lead-text{

    font-family: 'Baloo Thambi 2', cursive;

}

.ktf-display-1{

    font-size: 4em;

}

.ktf-display-2{

    font-size: 3em;

}

.ktf-display-3{

    font-size: 2em;

}

.ktf-display-4{

    font-size: 1.5em;

}

.ktf-display-5{
    
    font-size: 1.25em;

}

.text-1{

    font-size: 1.2em;

}

.text-2{

    font-size: 1em;

}

.spinner-5{

    width: 3em;
    height: 3em;

}

.card-1{
    
    width: 6em;
    height: 6em;

}

.card-1:hover{
    
    cursor: pointer;

}