<ktf-header
    params=
    "
        {
            navBgColor: 'bg-white',
            logo: KTF_LOGO_R_TB,
            jumbotronDisplay: true,
            navText: 'navbar-light'
        }
    "
>
    <!-- ko component: 
        {
            name: "ktf-jumbotron",
            params: 
            {
                jumBgColor: 'bg-ktfRedDark',
                jumText: 'Hello, World!',
                jumDescription: 'An example of customizable site',
                jumbotronDisplay: true,
                seed: 3
            }             
        }
    -->
    <!-- /ko --> 
        
</ktf-header>

<ktf-main>
    <ktf-colorSelector>

    </ktf-colorSelector>
    <!-- <ktf-jumbotron>

    </ktf-jumbotron> -->
    <ktf-form>

    </ktf-form>
    <ktf-cards>

    </ktf-cards>
</ktf-main>

<ktf-footer>

</ktf-footer>