<ktf-header
    params=
    "
        {
            navBgColor: 'bg-white',
            logo: KTF_LOGO_R_TB,
            jumbotronDisplay: true,
            navText: 'navbar-light'
        }
    "
>

    <!-- ko component: 
        {
            name: "ktf-jumbotron",
            params: 
            {
                jumBgColor: 'bg-ktfRedDark',
                jumText: 'Hello, World!',
                jumDescription: 'An example of customizable site',
                jumbotronDisplay: true,
                seed: 3
            }             
        }
    -->
    <!-- /ko --> 
        
</ktf-header>

<ktf-main
    params=
    "
    {

    }    
    "
>
    <!-- ko component:
        {
            name: "ktf-color-selector",
            params:
            {
                title: "Color Selector",
                subtitle: "Select the primary color for the page",
                colors:
                [
                    {
                        name: 'Dark Red',
                        textColor: 'text-light',
                        color: 'bg-ktfRedDark'
                    },
                    {
                        name: 'Dark Blue',
                        textColor: 'text-light',
                        color: 'bg-ktfBlueDark'
                    },
                    {
                        name: 'Blue',
                        textColor: 'text-light',
                        color: 'bg-ktfBlue'
                    },
                    {
                        name: 'Yellow',
                        textColor: 'text-dark',
                        color: 'bg-ktfYellow'
                    }
                ]
            }
        }
    -->
    <!-- /ko -->
    <!-- <ktf-form>

    </ktf-form>
    <ktf-cards>

    </ktf-cards> -->
</ktf-main>

<ktf-footer>

</ktf-footer>