<ktf-header
    params=
    "
        {
            navBgColor: 'bg-white',
            logo: KTF_LOGO_R_TB,
            jumbotronDisplay: true,
            navText: 'navbar-light'
        }
    "
>

    <!-- ko component: 
        {
            name: "ktf-jumbotron",
            params: 
            {
                jumBgColor: 'bg-ktfRedDark',
                jumbotronDisplay: true,
            }             
        }
    -->
    <!-- /ko --> 
        
</ktf-header>

<ktf-main
    params=
    "
    {

    }    
    "
>
    <!-- ko component:
        {
            name: "ktf-color-selector",
            params:
            {
                title: "Color Selector",
                subtitle: "Select the primary color for the page",
                colors:
                [
                    {
                        name: 'Dark Red',
                        textColor: 'text-light',
                        color: 'bg-ktfRedDark'
                    },
                    {
                        name: 'Dark Blue',
                        textColor: 'text-light',
                        color: 'bg-ktfBlueDark'
                    },
                    {
                        name: 'Yellow',
                        textColor: 'text-dark',
                        color: 'bg-ktfYellow'
                    }
                ]
            }
        }
    -->
    <!-- /ko -->

    <!-- ko component:
        {
            name: "ktf-form",
            params:
            {
                frmTitle: "Hello, World!",
                frmSubtitle: "An example of customizable site",
                frmImages:
                [
                    {
                        value: 1 
                    },
                    {
                        value: 2
                    },
                    {
                        value: 3
                    },
                    {
                        value: 4
                    },
                    {
                        value: 5
                    },
                    {
                        value: 6
                    },
                    {
                        value: 7
                    },
                    {
                        value: 8
                    },
                    {
                        value: 9
                    },
                ]
            }
        }
    -->
    <!-- /ko -->

    <!-- ko component:
        {
            name: "ktf-cards",
            params:
            {
                cardElement:
                [
                    {
                        cardTitle: "Hypermedia Audio",
                        cardDescription: "A project developed to present a hypermedia audio job",
                        cardLink: "/projects/audiohipermidia",
                    },
                    {
                        cardTitle: "InfoQuiz",
                        cardDescription: "A jQuery test project with a quiz about IT",
                        cardLink: "/projects/infoquiz",
                    },
                    {
                        cardTitle: "FinG",
                        cardDescription: "An in-development project of a Financial Management System",
                        cardLink: "/projects/fing",
                    },
                    {
                        cardTitle: "Javascript",
                        cardDescription: "A site explaining how the ES6 Javascript Classes works",
                        cardLink: "/projects/javascript",
                    },
                    {
                        cardTitle: "Compasso",
                        cardDescription: "A test project made for been admitted  on the Compasso UOL",
                        cardLink: "/projects/compasso",
                    },
                    {
                        cardTitle: "RegPonto",
                        cardDescription: "An in-development project for control the work hours",
                        cardLink: "/projects/regponto",
                    },
                    {
                        cardTitle: "Covid",
                        cardDescription: "A chart/table with updated numbers of the Covid-19 pandemic",
                        cardLink: "/projects/covid",
                    }
                ]
            }
        }
    -->
    <!-- /ko -->

</ktf-main>

<ktf-footer>

</ktf-footer>