<div class="d-flex container-fluid p-5 bg-dark text-light">
    <form class="container py-4">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="changeJumbotronTitle">Main Title</label>
                <input data-bind="value: frmChangeTitle" type="text" class="form-control form-control-sm" id="changeJumbotronTitle" aria-describedby="changeJumbotronTitleHelp">
                <small id="changeJumbotronTitleHelp" class="form-text text-muted">Change the Main Title of the Page</small>
            </div>
            <div class="form-group col-md-4">
                <label for="changeJumbotronSubtitle">Main Subtitle</label>
                <input data-bind="value: frmChangeSubtitle" type="text" class="form-control form-control-sm" id="changeJumbotronSubtitle" aria-describedby="changeJumbotronSubtitleHelp">
                <small id="changeJumbotronSubtitleHelp" class="form-text text-muted">Change the Main Subtitle of the Page</small>
            </div>
            <div class="form-group col-md-4">
                <label for="changeJumbotronImage">Main Image</label>
                <select data-bind="options: frmImageArray, optionsText: 'value',value: frmChangeImageSelected" class="form-control form-control-sm" id="changeJumbotronImage" aria-describedby="changeJumbotronSubtitleHelp"></select>
                <small id="changeJumbotronImageHelp" class="form-text text-muted">Change the Main Image of the Page</small>
            </div>
        </div>
    </form>
</div>