<div>
    <form>
        <div class="form-group">
            <label for="changeJumbotronTitle">Main Title</label>
            <input data-bind="value: frmChangeTitle" type="text" class="form-control" id="changeJumbotronTitle" aria-describedby="changeJumbotronTitleHelp">
            <small id="changeJumbotronTitleHelp" class="form-text text-muted">Change the Main Title of the Page</small>
        </div>
        <div class="form-group">
            <label for="changeJumbotronSubtitle">Main Subtitle</label>
            <input data-bind="value: frmChangeSubtitle" type="text" class="form-control" id="changeJumbotronSubtitle" aria-describedby="changeJumbotronSubtitleHelp">
            <small id="changeJumbotronSubtitleHelp" class="form-text text-muted">Change the Main Subtitle of the Page</small>
        </div>
    </form>
</div>